body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: gray;
}
.container{
    display: flex;
    align-items: center;
    gap: 50px;
}
.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 880px;
    height: 880px;
    border: 1px solid #d18b47;
    background-color: #d18b47;
}

.tour{
    background: lightgray;
    width: 140px;
    height: 140px;
    padding: 10px;
    border: 5px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.played{
    background: #ecf0f1;
    width: 340px;
    height: 340px;
    padding: 10px;
    border: 5px solid lightgray;
    justify-content: center;
    align-items: center;
    color: black;
}

.chessboard > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.white {
    background-color: #ffce9e;
}
.black {
    background-color: #d18b47;
}

.piece {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.selected {
    filter: drop-shadow(0 0 10px rgba(255, 255, 0, 0.8));
}

.promotion-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
    padding: 4px;
    border-radius: 4px;
}

.move-marker {
    background-color: yellow;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


